body {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

header {
    width: auto;
    height:70px;
    text-align: center;
}

header.header-logo {
    margin-top: 10px;
}

.art-content {
    text-align: center;
}

img {
    height: px;
    width : 100vw ; 
    
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.wrapper img {
    object-fit: contain;
    cursor: pointer;
    width : 100vw ; 
}

/* modal */

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    pointer-events: none;
    opacity: 0;
    transition: 0.25s ease-out;
}

.modal-wrapper.show {
    opacity: 1;
    pointer-events: all;
}

.modal-image {
    position: absolute;
    max-width: 80%;
    max-height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    opacity: 0;
    transition: 0.5s ease-out;
}

.modal-image.show {
    opacity: 1;
}